body {
  margin: 0;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

/* Add appropriate styles to the icon */
.html-icon {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
  margin-right: 5px; /* Adjust margin if needed */
}
.css-icon {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
  margin-right: 5px; /* Adjust margin if needed */
}
.js-icon {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
  margin-right: 5px; /* Adjust margin if needed */
}

.editor-container {
  overflow-x: auto; /* or overflow-x: hidden; */
  word-wrap: break-word;
  max-width: 100%; /* Adjust this as needed */
  min-width: 150px; /* Set a minimum width */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display:flex;
  flex-direction: column;
  padding: .5rem;
  background-color: hsl(225, 6%, 25%);
  /* overflow: hidden !important;  */
}

.editor-container.collapsed {
  flex-grow:0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between; /* Aligns items at start and end */
  align-items: baseline;
  font-size: 10px;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: .5rem 1rem; /* Adjusted padding for better spacing */
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.language-info {
  display: flex; /* Aligns logos and text */
  align-items: center; /* Vertically aligns items */
}
.displayName {
  margin-right: 5px;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%; /* Limit the maximum width */
}

